
.vs/WebAppStart/v17/.suo
WebApp/obj/Debug/net8.0/WebApp.AssemblyInfo.cs
WebApp/obj/Debug/net8.0/WebApp.AssemblyInfoInputs.cache
.vs/ProjectEvaluation/webappstart.projects.v7.bin
.vs/ProjectEvaluation/webappstart.metadata.v7.bin
.vs/WebAppStart/v17/.futdcache.v2
.vs/ProjectEvaluation/webappstart.metadata.v7.bin
.vs/ProjectEvaluation/webappstart.projects.v7.bin
.vs/WebAppStart/DesignTimeBuild/.dtbcache.v2
.vs/WebAppStart/FileContentIndex/8c570753-6d38-4d28-8e2e-a41e0cde474a.vsidx
.vs/WebAppStart/v17/.futdcache.v2
.vs/WebAppStart/v17/.suo
WebApp/obj/Debug/net8.0/WebApp.AssemblyInfo.cs
WebApp/obj/Debug/net8.0/WebApp.AssemblyInfoInputs.cache
