
.vs/WebAppStart/v17/.suo
WebApp/obj/Debug/net8.0/WebApp.AssemblyInfo.cs
WebApp/obj/Debug/net8.0/WebApp.AssemblyInfoInputs.cache
.vs/ProjectEvaluation/webappstart.projects.v7.bin
.vs/ProjectEvaluation/webappstart.metadata.v7.bin
.vs/WebAppStart/v17/.futdcache.v2
