
.vs/WebAppStart/v17/.suo
WebApp/obj/Debug/net8.0/WebApp.AssemblyInfo.cs
WebApp/obj/Debug/net8.0/WebApp.AssemblyInfoInputs.cache
.vs/ProjectEvaluation/webappstart.projects.v7.bin
.vs/ProjectEvaluation/webappstart.metadata.v7.bin
.vs/WebAppStart/v17/.futdcache.v2
.vs/ProjectEvaluation/webappstart.metadata.v7.bin
.vs/ProjectEvaluation/webappstart.projects.v7.bin
.vs/WebAppStart/DesignTimeBuild/.dtbcache.v2
.vs/WebAppStart/FileContentIndex/8c570753-6d38-4d28-8e2e-a41e0cde474a.vsidx
.vs/WebAppStart/v17/.futdcache.v2
.vs/WebAppStart/v17/.suo
WebApp/obj/Debug/net8.0/WebApp.AssemblyInfo.cs
WebApp/obj/Debug/net8.0/WebApp.AssemblyInfoInputs.cache
/WebApp/obj/Debug/net8.0/WebApp.AssemblyInfo.cs
/WebApp/obj/Debug/net8.0/WebApp.AssemblyInfoInputs.cache
/.vs/ProjectEvaluation/webappstart.metadata.v7.bin
/.vs/ProjectEvaluation/webappstart.projects.v7.bin
/.vs/WebAppStart/DesignTimeBuild/.dtbcache.v2
/.vs/WebAppStart/v17/.futdcache.v2
/.vs/WebAppStart/v17/.suo
/.vs/WebAppStart/FileContentIndex
/.vs/WebAppStart/FileContentIndex
/WebApp/obj/Debug/net8.0
/WebApp/bin/Debug/net8.0
/.vs/WebAppStart/v17/DocumentLayout.json
/WebApp/bin/Debug/net8.0/WebApp.dll
/WebApp/bin/Debug/net8.0/WebApp.exe
/WebApp/bin/Debug/net8.0/WebApp.pdb
/WebApp/obj/Debug/net8.0/ref/WebApp.dll
/WebApp/obj/Debug/net8.0/refint/WebApp.dll
/WebApp/obj/Debug/net8.0/apphost.exe
/WebApp/obj/Debug/net8.0/WebApp.dll
/WebApp/obj/Debug/net8.0/WebApp.pdb
/WebApp/obj/Debug/net8.0/WebApp.sourcelink.json
/WebApp/obj/Debug/net8.0/project.razor.vs.bin
/WebApp/obj/Debug/net8.0/WebApp.GeneratedMSBuildEditorConfig.editorconfig
/WebApp/obj/Debug/net8.0/WebApp.csproj.CoreCompileInputs.cache
/NT.DataAccess/bin/Debug/net8.0/NT.DataAccess.dll
/NT.DataAccess/bin/Debug/net8.0/NT.DataAccess.pdb
/NT.DataAccess/bin/Debug/net8.0/NT.Models.dll
/NT.DataAccess/bin/Debug/net8.0/NT.Models.pdb
/NT.DataAccess/obj/Debug/net8.0/ref/NT.DataAccess.dll
/NT.DataAccess/obj/Debug/net8.0/refint/NT.DataAccess.dll
/NT.DataAccess/obj/Debug/net8.0/NT.DataAccess.AssemblyInfo.cs
/NT.DataAccess/obj/Debug/net8.0/NT.DataAccess.AssemblyInfoInputs.cache
/NT.DataAccess/obj/Debug/net8.0/NT.DataAccess.csproj.AssemblyReference.cache
*.BuildWithSkipAnalyzers
/NT.DataAccess/obj/Debug/net8.0/NT.DataAccess.dll
/NT.DataAccess/obj/Debug/net8.0/NT.DataAccess.pdb
/NT.DataAccess/obj/Debug/net8.0/NT.DataAccess.sourcelink.json
/NT.Models/bin/Debug/net8.0/NT.Models.pdb
/NT.Models/bin/Debug/net8.0/NT.Models.dll
/NT.Models/obj/Debug/net8.0/ref/NT.Models.dll
/NT.Models/obj/Debug/net8.0/refint/NT.Models.dll
/NT.Models/obj/Debug/net8.0/NT.Models.AssemblyInfo.cs
/NT.Models/obj/Debug/net8.0/NT.Models.AssemblyInfoInputs.cache
/NT.Models/obj/Debug/net8.0/NT.Models.dll
/NT.Models/obj/Debug/net8.0/NT.Models.pdb
/NT.Models/obj/Debug/net8.0/NT.Models.sourcelink.json
/NT.Utility/obj/Debug/net8.0/NT.Utility.AssemblyInfo.cs
/NT.Utility/obj/Debug/net8.0/NT.Utility.AssemblyInfoInputs.cache
/WebApp/obj/Debug/net8.0/WebApp.csproj.AssemblyReference.cache
/NT.DataAccess/obj/Debug/net8.0/NT.DataAccess.csproj.CoreCompileInputs.cache
